<!--<ul class='list-group'>-->
  <!--<li *ngFor='let widget of widgets' class='list-group-item'>-->
    <!--{{widget.text}}-->
  <!--</li>-->
<!--</ul>-->

<div>
  <div *ngFor='let widget of widgets' [ngSwitch]='widget.widgetType'>

    <div *ngSwitchCase="'Heading'">
      <div [ngSwitch]='widget.size'>
        <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
        <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
        <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
        <h4 *ngSwitchCase="'4'">{{widget.text}}</h4>
        <h5 *ngSwitchCase="'5'">{{widget.text}}</h5>
        <h6 *ngSwitchCase="'6'">{{widget.text}}</h6>
      </div>
    </div>

    <div *ngSwitchCase="'Paragraph'">
      <p>{{widget.text}}</p>
    </div>

    <div *ngSwitchCase="'Image'">
      <img src="{{widget.imageURL}}"/>
    </div>

    <div *ngSwitchCase="'Link'">
      <a href="{{widget.linkURL}}">{{widget.text}}</a>
    </div>

    <div *ngSwitchCase="'List'">
      <ul class='list-group'>
        <li *ngFor="let item of widget.items.split('\n')" class='list-group-item'>
        {{item}}
        </li>
      </ul>
    </div>

  </div>
</div>
