.wbdv-topMargin{
  border: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  /*margin-right: 350px;*/
  /*margin-left: 350px;*/
  margin-top: 80px;
}

.wbdv-hover{
  cursor: pointer;
}

.wbdv-topMargin-Section{
  margin-top: 80px;
}
