<div class='container-fluid'>
  <h1>Register</h1>

  <input [(ngModel)] = 'username'
         placeholder='username'
         class='form-control'/>

  <input [(ngModel)] = 'password'
         placeholder='password'
         class='form-control'/>

  <input [(ngModel)] = 'cpassword'
         placeholder='Confirm password'
         class='form-control'/>

  <!--<input [(ngModel)] = 'firstName'-->
         <!--placeholder='First Name'-->
         <!--class='form-control'/>-->

  <!--<input [(ngModel)] = 'lastName'-->
         <!--placeholder='Last Name'-->
         <!--class='form-control'/>-->

  <!--<input [(ngModel)] = 'email'-->
         <!--placeholder='Email'-->
         <!--class='form-control'/>-->

  <button (click)="register(username,password,cpassword)" class="btn btn-primary btn-block">Register</button>

  <a routerLink="/login">Login</a>
  <a routerLink="/home">Home</a>

</div>
