<div class='container-fluid'>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" routerLink="/home"><b>White Board</b></a>
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/login'>Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wbdv-topMargin">
    <fieldset>
      <legend>Register</legend>
      <input [(ngModel)] = 'username'
             placeholder='Username'
             class='form-control'/><br/>

      <input [(ngModel)] = 'password'
             placeholder='Password'
             class='form-control'
             type='password'/><br/>

      <input [(ngModel)] = 'cpassword'
             placeholder='Confirm Password'
             class='form-control'
             type='password'/><br/>

      <button (click)="register(username,password)" class="btn btn-primary btn-block">Register</button>
    </fieldset>
  </div>

  <!--<a routerLink="/login">Login</a>-->
  <!--<a routerLink="/home">Home</a>-->

</div>
